@import "./utils/variables";
@import "./base/global";
@import "./utils/mixins-placeholders";
@import "./components/button";
@import "./pages/spinner";
@import "./layout/header";
@import "./layout/footer";

// start location

.location {
  height: 50px;
  background-color: #e7e7e7;

  .container {
    @extend %flex-center;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #444;

    i {
      position: relative;
      left: -18px;
      color: #444;
    }
  }
}

main {
  background-color: $backround-gray;

  .container {
    text-align: center;
    @include padding-top-bottom(30px);

    h2 {
      font-size: 22px;
    }

    p {
      padding: 20px 0;
      color: $text-color;
      font-size: $font-18;
    }

    a {
      @extend .button;
      margin-bottom: 20px;
    }
  }
}

.how-works {
  background-color: $white;

  .container {
    @include padding-top-bottom(36px);

    ol {
      @extend %flex-center;
      flex-direction: column;
      counter-reset: count;
      padding-left: 12px;

      li {
        width: 100%;
        list-style-type: none;
        position: relative;
        background-color: $backround-gray;
        border-radius: 27px;
        margin-bottom: 12px;
        margin-top: 12px;
        box-shadow: $box-shadow;
        font-weight: bold;
        @include padding-top-bottom(27px);
        padding-right: 27px;

        i {
          margin-left: 36px;
          margin-right: 15px;
          font-size: 20px;
          color: #777;
        }

        &:before {
          counter-increment: count;
          content: counter(count) " ";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 4px 8px;
          border-radius: 50%;
          color: $white;
          background: $primary-color;
          font-weight: normal;
          font-size: 14px;
        }

        &:nth-child(3) {
          background-color: #f1eafc;
        }

        &:hover {
          background-color: #f1eafc;

          i {
            color: $primary-color;
          }
        }
      }

      @include medium-screen {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        li {
          flex-basis: 32%;
          min-width: 300px;

          &:nth-child(2) {
            margin-left: 2%;
            margin-right: 2%;
          }
        }
      }
    }

    @include medium-screen {
      text-align: center;
    }
  }
}

// start section Restaurants
.restaurants {
  background-color: $backround-gray;

  .container {
    @include padding-top-bottom(35px);

    .content {
      a.card {
        display: block;
        background-color: $white;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 16px;
        position: relative;
        box-shadow: $box-shadow;

        &:nth-child(1)::before,
        /*updated new*/
        &:nth-child(2)::before {
          /*updated new*/

          content: "New";
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 10;
          font-size: 14px;
          background-color: $tertiary-color;
          padding: 6px 26px;

          border-radius: 3px;
        }

        img {
          width: 100%;
          height: 175px;
          object-fit: cover;
          object-position: bottom;
        }

        &:nth-child(2) {
          img {
            object-position: center 61%;


          }
        }

        .info {
          background-color: $white;
          padding: 10px;
          position: relative;

          h3 {
            margin: 0;
            @extend %flex-between;



            // نهاية جزء تغييرات
          }

          .favorite-heart {
            position: absolute;
            right: 30px;
            bottom: 30px;


            // بدايه من الجزء
            i.fa-regular {
              position: relative;
              display: block;
              top: 10px;
            }

            i.fa-solid {
              position: relative;
              top: 0;
              left: 0;
              right: 0;
              opacity: 0;
              z-index: -1;
              background: #fff;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: opacity 2s linear;

            }

            &:hover i.fa-regular {
              display: none;
            }

            &:hover i.fa-solid {
              animation: 1s linear forwards graduate-heart;

            }
          }
        }

        p {
          margin: 5px 0px;
          color: $text-color;
        }
      }
    }
  }

  @include medium-screen {
    h2 {
      text-align: center;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      gap: 32px;

      .card {
        flex-basis: 348px;
        min-width: 300px;

        img {
          height: 230px;
        }
      }
    }
  }

  @include large-screen {
    .content {
      display: flex;
      justify-content: center;
      gap: 32px;

      .card {
        flex-basis: 450px;

        img {
          height: 260px;
        }
      }
    }
  }
}

// End section Restaurants


@keyframes graduate-heart {
  0% {
    display: inline;
    background-image: linear-gradient(175deg, #FF79DA 20%, #fff 80%);
    opacity: 1;
    z-index: 10;
  }

  20% {
    display: inline;
    background-image: linear-gradient(175deg, #9356DC 30%, #FF79DA);
    opacity: 1;
    z-index: 10;
  }

  100% {
    display: inline;
    background-image: linear-gradient(175deg, #9356DC, #FF79DA);
    opacity: 1;
    z-index: 10;
  }
}